.wrap{
  box-shadow: 0 4px 8px 0 rgba(7,17,27,.06);
  width: 86%;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
}
.menu{
  position: relative;
  float: left;
  width: 20%;
  padding: 12px 0;
  background-color: rgba(43, 51, 59, 1);
  margin: 0;
}
.menuItem{
  height: 60px;
  line-height: 60px;
  padding-left: 16px;
  cursor: pointer;
  &:hover .type{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.type{
  transition: all .1s;
  padding: 0 12px;
  color: #d2c8c8;
}
.list{
  height: 120px;
}
.right{
  float: left;
  width: 80%;
  font-size: 0;
}
.img{
  height: 280px;
}
.banner{
  position: relative;
}
.iconLeft{
  position: absolute;
  left: 0;
  top: 50%;
}