body {
  min-width: 1280px;
  font-family: 'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif';
  font-size: 14px;
}
:focus {
  outline: 0;
}
ol, ul {
  list-style: none;
}
a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}
*{
  box-sizing: border-box;
}